@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-card-base: #1e1e1e;
  --bg-card-hover: #2f2f2f;
  --bg-card-active: #2f2f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-card{
  background-color: var(--bg-card-base);
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #2f2f2f;
}

.bg-card:hover{
  background-color: var(--bg-card-hover);
}

.bg-card:active{
  background-color: var(--bg-card-active);
}

select {
  background-color: #1e293b;
  color: white;
}

select option {
  background-color: #1e293b;
  color: white;
}